:root {
  --small-icon-size: 24px;
  --medium-icon-size: 40px;

  --min-nav-width: calc(40px + 12ch + 2rem);
  --min-header-height: calc(var(--medium-icon-size) * 3);
}
body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(var(--min-nav-width), 1fr) 5fr;
  grid-template-rows: minmax(var(--min-header-height), 1fr) 5fr;
}
body * {
  margin: 0;
  padding: 0;
  border: none;
}
nav {
  background-color: black;
  color: whitesmoke;
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
  overflow: auto;
}
header {
  background-color: blue;
  color: whitesmoke;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}
.container {
  background-color: red;
  color: whitesmoke;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
img.small-icons {
  width: var(--small-icon-size);
}
img.medium-icons {
  width: var(--medium-icon-size);
}
.white {
  filter: invert(99%) sepia(93%) saturate(3%) hue-rotate(228deg);
}
